:root {
    --primary-dark-cyan: hsl(185, 75%, 39%);
    --primary-very-desatured-blue: hsl(229, 23%, 23%);
    --primary-dark-grayish-blue: hsl(227, 10%, 46%);
    --neutral-dark-gray: hsl(0, 0%, 59%);
    --box-shadow-color: hsl(188, 76%, 32%);
    --hr-color: hsl(0, 2%, 88%);
}

body {
    font-family: 'Kumbh Sans';
    background-color: var(--primary-dark-cyan);
}

div.background-image {
    display: flex;
    flex-direction: column;
    margin: -10px;
    padding-bottom: 180px;
    background: url(images/bg-pattern-top.svg) right 52vw bottom 36vh no-repeat, url(images/bg-pattern-bottom.svg) left 48vw top 52vh no-repeat;
}


main {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

div.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 350px;
    box-shadow: 5px 30px 100px var(--box-shadow-color);
}

.card-background {
    border-radius: 15px 15px 0px 0px;
    max-width: 100%;
    height: 0 auto;
}

.profile-picture {
    max-width: 100px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 4px;
    background-color: white;
    position: relative;
    bottom: 55px;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-very-desatured-blue);
    margin-top: -35px;
    line-height: 0.8;
}

.header-color {
    font-weight: 500;
    color: var(--neutral-dark-gray);
    margin-left: 5px;
}

.city {
    font-size: 14px;
    color: var(--neutral-dark-gray);
    margin-bottom: 15px;
}

.page-hr {
    border: 0.1px solid var(--hr-color);
    position: relative;
    width: 349px;
}

.datas-container {
    display: flex;
    margin: 15px 10px 20px 0px;
    text-align: center;
}

.follower-number,
.like-number,
.photo-number {
    margin-inline: 25px;
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-very-desatured-blue);
    line-height: 1.5;
}

.followers,
.likes,
.photos {
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 400;
    color: var(--neutral-dark-gray);
}

footer {
    margin-top: 10px;
    font-size: 9px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    cursor: pointer;
    color: aqua;
}

footer a:active {
    color: blue;
}

@media (max-width: 600px) {
    div.container {
        width: 330px;
    }

    .page-hr {
        width: 329px;
    }
}

@media (min-width: 1440px) {
    div.background-image {
        padding-bottom: 150px;
        background: url(images/bg-pattern-top.svg) right 52vw bottom 36vh no-repeat, url(images/bg-pattern-bottom.svg) left 48vw top 52vh no-repeat;
    }

    main {
        margin-top: 180px;
    }
}